.layout {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    background-image: url("leaves.jpg");
    background-position: center;
    background-size: cover;
}

.right-side {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    background-color:rgb(236, 235, 235);


}

.signup-form {
    display: flex;
    flex-direction: column;
}

.container {
    background-color: white;
}

.form-row {
    display: flex;
    padding: 0;
    align-items: flex-start;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}


.create {
    margin: 30px;
    padding: 10px 40px;
    color: white;
    background-color: rgb(87, 111, 45);
    border-radius: 6px;
    width: auto;
    align-self: flex-start;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 12px;
}